<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        {% block title %}
            {{ page_title|title }}
        {% endblock %}
    </title>
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <meta name="theme-color" content="#563d7c">
    <link href="https://fonts.googleapis.com/css?family=Playfair+Display:700,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/signin.css' %}">
    {#    <link type="text/css" href="{% static 'mainapp/signin.css' %}"/>#}
    {#    <link type="text/css" href="{% static 'xabr/signin.css' %}"/>#}

</head>
<div class="text-center">
    <form class="form-signin">

        <a class="h1 mb-3 font-weight-bold text-dark" href="{% url 'main:index' %}">Xabr</a>

        <h1 class="h3 mb-3 font-weight-normal">Пожалуйста авторизируйтесь</h1>
        <label for="inputEmail" class="sr-only">Email адрес</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Запомнить меня
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Авторизоваться</button>
        <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>
    </form>
</div>
</html>
