{% extends 'authapp/base.html' %}
{% load static %}
{% load my_tags %}
{% block css %}
    <link href="{% static 'css/bootstrap/bootstrap.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/registration.css' %}">
    {#            <link rel="stylesheet" href="{% static 'css/style.css' %}">#}
{% endblock %}

{% block container %}
    <div class="py-5 text-center">
        <a class="h1 mb-3 font-weight-bold text-dark" href="{% url 'main:index' %}">Xabr</a>
        <h2>Редактрирование профиля</h2>
    </div>
    <div class="media">
        <img class="mr-3 " src="{{ user.avatar|media_folder_users }}" alt="">
        <div class="media-body">
            <p src="{{ user.name }}"></p>
            <button class="btn btn-round form-control last">
                <a href="{% url 'main:index' %}" class="">
                    на главную
                </a>
            </button>
        </div>
    </div>


{% endblock %}
