{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    {% include 'mainapp/includes/inc__header.html' %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock %}
{% block main %}
    <h3 class="pb-4 mb-4 font-italic border-bottom">Помощь</h3>
    <h2 class="blog-post-title">Обратная связь</h2>
    <form action="#">
        Ваше имя: <br>
        <input type="text" class="reverse" ><br><br>
        Ваш адрес электронной почты: <br>
        <input type="text" class="reverse" id="email" size="30"><br><br>
        Укажите тему обращения: <br>
        <input type="text" class="reverse" size="50"><br><br>
        Текст вашего сообщения: <br>
        <textarea type="txtarea" class="reverse" style="width:900px; height:150px;"></textarea><br>
        <a class="btn btn-outline-primary" href="#">Отправить данные</a>
        <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Отмена</a><br>
    </form>
{% endblock %}