{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    {% include 'mainapp/includes/inc__header.html' %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-md-8 blog-main">
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                Мобильная-разработка
            </h3>

            <div class="blog-post">
                <h2 class="blog-post-title">Случайный текст похож на трубный призыв</h2>
                <p class="blog-post-meta">Январь 1, 2020 by <a href="#">Иван</a></p>

                <p>Экономическая повестка сегодняшнего дня однозначно фиксирует необходимость анализа существующих
                    паттернов поведения.</p>
                <hr>
                <p>Также как экономическая повестка сегодняшнего дня позволяет оценить значение первоочередных
                    требований. <a href="#">dis parturient montes</a>,
                    nascetur ridiculus mus.
                    Но дальнейшее развитие различных форм деятельности является качественно новой ступенью направлений
                    прогрессивного развития..</p>
                <blockquote>
                    <p>Вот вам яркий пример современных тенденций - постоянный количественный рост и сфера нашей
                        активности обеспечивает широкому
                        кругу (специалистов) участие в формировании благоприятных перспектив.
                        <strong>Nullam quis risus eget urna mollis</strong> Безусловно, дальнейшее развитие различных
                        форм деятельности позволяет
                        оценить значение соответствующих условий активизации.</p>
                </blockquote>
                <p>Etiam porta <em>sem malesuada magna</em> Реплицированные с зарубежных источников, современные
                    исследования будут в равной степени
                    предоставлены сами себе.</p>
                <h2>Реализация намеченных плановых заданий сделала своё дело</h2>
                <p>Кстати, интерактивные прототипы освещают чрезвычайно интересные особенности картины в целом, однако
                    конкретные выводы, разумеется,
                    функционально разнесены на независимые элементы. Независимые государства, превозмогая сложившуюся
                    непростую экономическую ситуацию,
                    преданы социально-демократической анафеме.</p>


                <div class="blog-post">
                    <h2 class="blog-post-title">Про дизайн</h2>
                    <p class="blog-post-meta">Декабрь 24, 2020 by <a href="#">Jacob</a></p>

                    <p>Приятно, граждане, наблюдать, как элементы политического процесса превращены в посмешище, хотя
                        само их существование
                        приносит несомненную пользу обществу. Внезапно, диаграммы связей представляют собой не что иное,
                        как квинтэссенцию победы маркетинга
                        над разумом и должны быть разоблачены. <a href="#">dis parturient montes</a>, Внезапно,
                        тщательные исследования конкурентов могут быть
                        функционально разнесены на независимые элементы.</p>
                    <blockquote>
                        <p>Как уже неоднократно упомянуто, непосредственные участники технического прогресса превращены
                            в посмешище, хотя само их существование
                            приносит несомненную пользу обществу. <strong>Nullam quis risus eget urna mollis</strong> С
                            другой стороны, базовый вектор развития
                            однозначно фиксирует необходимость модели развития.</p>
                    </blockquote>

                    <p>Равным образом, синтетическое тестирование, в своём классическом представлении, допускает
                        внедрение кластеризации усилий. В рамках
                        спецификации современных стандартов, многие известные личности, которые представляют собой яркий
                        пример континентально-европейского типа
                        политической культуры, будут подвергнуты целой серии независимых исследований.</p>
                </div><!-- /.blog-post -->


                <nav class="blog-pagination">
                    <a class="btn btn-outline-primary" href="#">Older</a>
                    <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Newer</a>
                </nav>

            </div><!-- /.blog-main -->
        </div><!-- /.row -->
    </div>
{% endblock %}