{% extends 'mainapp/base.html' %}
{% load static %}

{% block container %}
    {% include 'mainapp/includes/inc__header.html' %}
    {% include 'mainapp/includes/inc__main_menu.html' %}
{% endblock %}
{% block main %}
    <div class="row">
        <div class="col-md-12 blog-main">
            {% for post in posts %}
            <h3 class="pb-4 mb-4 font-italic border-bottom">
                {{post.category}}
            </h3>
            <div class="blog-post">
                <h2 class="blog-post-title">{{post.name}}</h2>
                <p class="blog-post-meta">{{post.create_datetime}} <a href="#">Mark</a></p>
                <hr>
                <p>{{post.posts_text}}</p>
            <nav class="blog-pagination">
                <a class="btn btn-outline-secondary disabled" href="#" tabindex="-1" aria-disabled="true">Комментировать</a>
            </nav>
                {% endfor %}
            </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
    </div><!-- /.row -->
{% endblock %}